<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>user table</title>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">names</th>
        <th scope="col">countries</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td><a th:href = "@{/users/new/{id}(id=${user.getId()})}" th:text="add">id</a></td>

        <td th:text="${user.name}"/>
        <td th:text="${user.countryOfBirth}"/>

        <td><a th:href="@{users/update_user{id}(id=${user.getId()})}" th:text="updateButton">id</a></td>
        <td><a th:href="@{users/delete_user{id}(id=${user.getId()})}" th:text="deleteButton">id</a></td>
        <td><form th:method="DELETE" th:action="@{/users/delete_user{id}(id=${user.getId()})}">
            <input type = "submit" value="Delete"/>
        </form>
        </td>

<!--        <td><label> update: </label></td>-->
<!--        <label for="update"></label><input type="text" th:field="updateButton" id="update"/>-->
<!--        <td><label> delete: </label></td>-->
<!--        <label for="delete"></label><input type="text" th:field="deleteButton" id="delete"/>-->


    </tr>
    </tbody>
</table>

<a href="/users/new">Add new user</a>

</body>
</html>